<h1>Bienvenido a FizzBuzz<h1>
<label>Ingrese un numero: </label>

<form method='post' action='/generar'>
    <input type='text' name='numero_ingresado'>
    <input type='submit' value='Generar'>
</form>